.dialogs {
  display: flex;
  justify-content: flex-start;
}
.dialogsItems {
  padding: 10px;
}
.dialog {
  padding: 10px;
}
.dialog a {
  padding: 10px;
  text-decoration: none;
  color: green;
}
.active a {
  color: gold;
}
.messages {
  padding: 10px;
}
.message {
  padding: 10px;
}
