.dialogs {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 0.2fr 0.8fr;
}
.dialogsItems {
  padding: 10px;
}
.dialog {
  padding: 10px;
}
.active {
  color: gold;
}
.messages {
  padding: 10px;
}
.message {
  padding: 10px;
}
