.nav {
  grid-area: nav;
  background-color: wheat;
}

.nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.item a {
  text-decoration: none;
  color: white;
}

a.activeLink:active {
  text-decoration: none;
  color: gold;
}

.friends {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 20px;
  align-items: center;
}

.friends_item {
  display: flex;
  align-items: center;
}

.friends_item img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 5px;
}

.friends_item a {
  text-decoration: none;
  color: #758473;
}
